@import url("../modernReset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap");

body {
  background-color: grey;
  font-family: "Poppins", Tahoma, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.page {
  width: 90%;
  background-color: #2d332f;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.page__ribbon {
  height: 200px;
  transform: rotate(15deg);
  margin-right: 2em;
}
li {
  list-style-type: none;
}
.bold {
  font-weight: 700;
  letter-spacing: 0.5em;
}
.page__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 20vh;
  overflow: hidden;
}
.page__title {
  width: 80%;
  padding: 0;
  position: relative;
  z-index: 1;
  color: #f0bd18;
  font-size: 3em;
  padding-left: 1em;
}
.page__title::after {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  left: 0px;
  top: -5px;
  right: 0;
  bottom: 0;
  width: 50%;
  background: #000;
  border-radius: 0;
  z-index: -1;
  transform: scaleX(0.015);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
.page__title:hover::after {
  transform: scaleX(1);
}
.page__nav {
  width: 35%;
  padding-right: 1em;
}
.page__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5em;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
  justify-items: center;
}
.container {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  padding: 20px 0;
  position: relative;
  height: 100%;
}
.container__reasons {
  background-color: #fff;
  min-height: 20vh;
  z-index: 1;
  padding: 5em;
}
.container__influencers {
  min-height: 45vh;
}

.card__item {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  text-align: center;
}
.card__button {
  height: 4vh;
  width: 100%;
  background-color: #2d332f;
  color: #fff;
  border: none;
  padding: 2em;
  border-top: 1px solid #4a4947;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card__icon {
  margin-left: 10px;
  height: 14px;
  width: 14px;
  -webkit-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.rotate {
  animation-name: rotate1;
  animation-duration: 2s;
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(180deg);
    opacity: 0;
  }
  75% {
    -webkit-transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card__button:hover {
  background-color: #4a4947;
  box-shadow: 0em 0em 0.75em #000;
}
.card__button:active {
  border: 1px solid grey;
  background-color: #2d332f;
}
.card__buton:focus {
  border: 1px solid #fff;
}

.card__title {
  font-weight: 600;
  font-size: 2em;
}
.card__desc {
  font-weight: 500;
  padding-top: 1em;
  font-size: 1.5em;
}

.visible {
  display: block !important;
}
.card__link {
  text-decoration: none;
  min-height: 1em;
  border-radius: 25px;
  text-align: center;
  font-size: 1em;
  color: darkslategrey;
  transition: transform 150ms ease-in;
  display: none;
  text-transform: uppercase;
}
.card__link:hover {
  transform: scale(1.25);
  transition: transform 150ms ease-in;
  text-decoration: none;
}
.card__link:active {
  text-decoration: none;
  background-color: #025fa3;
}
.influencers__container {
  margin-top: 2em;
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: scroll;
  flex-grow: 0;
  flex-shrink: 0;
}
.influencers__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0.75em;
  min-width: 200px;
  max-width: 300px;
  background-color: #fff;
  color: black;
  border-radius: 25px;
  margin: 1.5em;
  margin-bottom: 3em;
}
.influencers__item:hover {
  box-shadow: 0px 0px 1em #f0bd18;
  border: 1px solid #f0bd18;
}
.influencer__img {
  height: 75px;
  width: 75px;
  margin: 0;
  margin-bottom: 2vh;
  border: 2px solid #fff;
  position: absolute;
  left: -2em;
  top: -1em;
  border-radius: 50%;
  z-index: 2;
}
.influencers__id {
  position: relative;
  border-radius: 25px 25px 0 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background-color: #000;
  margin-bottom: 1em;
  box-shadow: 0 4px 2px -2px gray;
}
.influencer__name {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  padding-left: 0.5em;
  color: #fff;
  text-align: center;
}
.influencer__desc {
  color: #2d332f;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  padding: 0.75em;
}
.influencer__link {
  text-decoration: none;
  width: 100%;
  min-height: 1em;
  background-color: #000;
  border-radius: 0 0 25px 25px;
  text-align: center;
  font-size: 1em;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}
.influencer__link:hover {
  color: #f0bd18;
  font-weight: 700;
  text-decoration: none;
}
.influencer__link:active {
  text-decoration: none;
  color: #000;
  background-color: grey;
}
@media screen and (max-width: 900px) {
  body {
    font-size: 12px;
  }
  .influencers__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .page__title {
    font-size: 2.5em;
  }
  .page__ribbon {
    height: 100px;
    transform: rotate(15deg);
    margin-right: 1em;
  }
  .influencer__img {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 1em;
  }
  .influencers__id {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .influencer__name {
    font-size: 1.25em;
    padding: 0;
  }
  .card__title {
    font-weight: 600;
    font-size: 1.25em;
  }
  .card__desc {
    font-weight: 500;
    padding-top: 0.5em;
    font-size: 1em;
  }
}

@media (prefers-reduced-motion: reduce) {
}
